@page "/bills"

<PageTitle>Bills</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true"><b>Bills</b></MudText>
<MudText Class="mb-8">Bills displayed here!</MudText>
<MudAlert Severity="Severity.Normal"> This is a test thing <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>


<MudPaper Class="pa-4 mt-2 d-flex justify-center" Elevation="1" Style="background: var(--mud-palette-background)">
   
    @if (BillsList.Count != 0)
    { 
        <MudChart ChartType="ChartType.Pie" InputData="@BillsPrices" InputLabels="@InputLabls" ChartOptions="@ChartOptions"/>
    } else 
    {
        <p>Loading...</p>
    }

</MudPaper>


<MudPaper Class="pa-4 mt-2 d-flex justify-center" Elevation="1" Style="background: var(--mud-palette-background)">
   
    @if (Series.Count != 0)
    {
        <MudChart ChartType="ChartType.Line" ChartSeries="@Series" Width="100%" Height="350px" XAxisLabels="@XAxisLabels" />
    } else 
    {
        <p>Loading...</p>
    }

</MudPaper>