@page "/bills"

<PageTitle>Bills</PageTitle>
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<MudText Typo="Typo.h3" GutterBottom="true"><b>Bills</b></MudText>
<MudText Class="mb-8">Bills displayed here!</MudText>

<MudPaper Class="pa-4 mt-2 d-flex justify-center" Elevation="1" Style="background: var(--mud-palette-background)">

    @*<MudIconButton Icon="fas fa-solid fa-user" Color="Color.Error"/> Kacper
    <MudIconButton Icon="fas fa-solid fa-user" Color="Color.Surface"/>Jon
    <MudIconButton Icon="fas fa-solid fa-user" Color="Color.Tertiary"/>Leigh
    <MudIconButton Icon="fas fa-solid fa-user" Color="Color.Success"/>Me*@

    <MudAvatar Color="Color.Info" Variant="Variant.Outlined">M</MudAvatar>
    <MudAvatar Color="Color.Success" Variant="Variant.Outlined">J</MudAvatar>
    <MudAvatar Color="Color.Warning" Variant="Variant.Outlined">K</MudAvatar>
    <MudAvatar Color="Color.Warning" Variant=@(selected ? Variant.Outlined : Variant.Filled) @onclick="ChangeColour">L</MudAvatar>

    @*Keeping this to say which bills get payed for the bills*@
    @*<MudCheckBox @bind-Checked="@Basic_CheckBox2" Color="Color.Primary"></MudCheckBox>*@
</MudPaper>


<MudPaper Class="pa-4 mt-2 d-flex justify-center" Elevation="1" Style="background: var(--mud-palette-background)">
   
    @if (BillsList.Count != 0)
    {
        <MudChart ChartType="ChartType.Donut" InputData="@BillsPrices" InputLabels="@InputLabls" ChartOptions="@ChartOptions" LegendPosition="Position.Right">
            <CustomGraphics>
		        <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Total Bills</text>
		        <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5">@BillsTotal</text>
	        </CustomGraphics>
        </MudChart>
    } else 
    {
        <p>Loading...</p>
    }

</MudPaper>
